title: ROllerozxa
description: "ROllerozxa's personal website and blog"
url: https://voxelmanip.se
author: ROllerozxa

baseurl: /

destination: /tmp/rollerozxa_blog_site

excerpt_separator: <!--more-->

lang: en_GB

exclude:
  - build_production.sh

permalink: pretty
paginate: 6
paginate_path: /page/:num/

redirect_from:
  json: false

sass:
  style: compressed
  sourcemap: never

collections:
  projects:
    output: true
    layout: project
    sort_by: date
  notes:
    output: true
    layout: note
    sort_by: last_modified

defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "notes"
    values:
      layout: "note"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

plugins:
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-sitemap
