---
---

{% if paginator.page == 1 %}
	{% include index_about.html %}

	<h2>Latest blog posts</h2>
{% else %}
	<h2>Blog posts (page {{ paginator.page }})</h2>
{% endif %}

<ul>
	{%- for post in paginator.posts -%}
		<li>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			{% unless post.no_cover %}
				<a href="{{ post.url }}">
					<img class="blogimage"
						src="/media/{{ post.slug }}/cover.webp"
						title="{{ post.cover_alt | escape }}"
						alt="{{ post.cover_alt | escape }}"
						width="1200" height="400"
						loading="lazy">
				</a>
			{% endunless %}
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>

			<p>{{ post.excerpt }}</p>
		</li>
	{%- endfor -%}
</ul>

{%- if paginator.total_pages > 1 -%}
<div class="pagination">
	{%- for page in (1..paginator.total_pages) -%}
		{%- if page == paginator.page -%}
			<span class="page-item">{{ page }}</span>
		{%- elsif page == 1 -%}
			<a href="/" class="page-item">{{ page }}</a>
		{%- else -%}
			<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-item">{{ page }}</a>
		{%- endif -%}
	{%- endfor %}
</div>
{%- endif -%}
