---
title: Posts (by tag)
---

<p>This is a comprehensive list of all blog posts categorised by tag and sorted by their date.</p>

{% capture site_tags %}
	{%- for tag in site.tags -%}
		{{ tag | first }}
		{%- unless forloop.last %},{% endunless %}
	{%- endfor -%}
{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort_natural %}

{% for tag in tags_list %}
	<h2>{{ tag | replace: "-", " " }}</h2>
	<p>{{ site.data.tags[tag].description | default: "<strong>(Give me a description!!)</strong>" }}</p>

	<ul>
		{% for post in site.tags[tag] %}
			{% include post_entry_short.html post=post %}
		{% endfor %}
	</ul>
{% endfor %}
