---
title: Posts (by tag)
---

<p>This is a comprehensive list of all blog posts categorised by tag and sorted by their date.</p>

{% capture site_tags %}
	{%- for tag in site.tags -%}
		{{ tag | first }}
		{%- unless forloop.last %},{% endunless %}
	{%- endfor -%}
{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort_natural %}

<div class="tags">
	{% for tag in tags_list %}
		<a class="tag" href="#{{ tag }}">{{ tag | replace: "-", " " }} ({{ site.tags[tag] | size }})</a>
	{% endfor %}
</div>

{% for tag in tags_list %}
	{%- assign posts = site.tags[tag] -%}

	<h2 id="{{ tag }}">{{ tag | replace: "-", " " }}</h2>

	{% if site.data.tags[tag].description %}<p>{{ site.data.tags[tag].description }}</p>{% endif %}

	<ul>
		{%- for post in posts -%}
			{% include post_entry_short.html post=post %}
		{%- endfor -%}
	</ul>
{% endfor %}
