<div class="ozxa"><canvas style="height:200px" id="the-thing" width="325" height="300"></canvas></div>
<script src="/assets/fun.js?v=2" defer></script>

<h1 class="header-index">ROllerozxa<span class="link-icons">
	{%- for link in site.data.indexlinks -%}
		<a {% if link.relme %}rel="me"{% endif %} href="{{ link.url }}"><img src="/assets/icons/{{ link.icon }}" title="{{ link.title }}" alt="{{ link.title }}"></a>
	{%- endfor -%}
</span></h1>

<p>I'm a university student currently studying software engineering as well as an open source developer. You may know me as the project maintainer of <a href="https://principia-web.se">Principia</a> or for my contributions to <a href="https://www.luanti.org">Luanti (formerly Minetest)</a>.</p>

<p>This is my site where I write about what I do and about whatever else interests me, in the case that someone else finds it interesting.</p>

<p>Wanna read more <a href="/about/">about me</a> or <a href="/projects/">about what I do</a>?</p>
