@import "rouge-theme";
@import "fira-code";

$body-background: #151515;
$body-foreground: #efefef;
$header: #1cdc9a;
$blockquote-color: #aaa;
$blockquote-border: #666;
$headerlink: #979797;

body {
	margin: 0;
	padding: 0;
	background-color: $body-background;
	color: $body-foreground;
	font-size: 12pt;
	font-family: "Fira Code", "Fira Mono", "Roboto Mono", "Terminal", monospace;

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background: url('/media/voxelmanip_bg_1080.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

body, p, li {
	line-height: 1.8;
}


/// Links \\\

a {
	color: #63c0f5;
	text-decoration: none;
}


/// Header tags \\\

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0 10px;
	font-weight: normal;
	color: $header;
	letter-spacing: -0.03em;
}

h1 { font-size: 1.80em; }
h2 { font-size: 1.45em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }


/// Other generic element styling \\\

img {
	max-width: 100%;
}

ul li {
	list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -6 24 24'%3E%3Cpath d='M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z' fill='%231cdc9a'/%3E%3C/svg%3E");
}

blockquote {
	color: $blockquote-color;
	padding-left: 10px;
	border-left: 1px dotted $blockquote-border;
}

pre {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 10px;
	font-size: 16px;
	color: $header;
	border-radius: 4px;
	word-wrap: normal;
	overflow: auto;
	overflow-y: hidden;
}

code.highlighter-rouge {
	background: rgba(0,0,0,0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px 3px;
	margin: 0px -3px;
	color: $body-foreground;
}

table {
	width: 100%;
	margin: 0 0 20px 0;

	th {
		border-bottom: 1px dashed $header;
	}
	td, th {
		padding: 5px 10px;
	}
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px dashed $header;
}

time {
	font-weight: bold;
}

.c { text-align: center; }


/// Layout \\\

header, footer {
	text-align: center;
	background: rgba(0, 0, 0, 0.65);
}

header {
	border-bottom: 1px dashed $header;
	padding: 20px 20px 10px;

	.title {
		font-size: 36px;
		line-height: 1.5;
		margin: 0;

		font-weight: bold;
		letter-spacing: -1px;
		margin-bottom: 10px;

		a {
			color: $header;

			&:hover {
				letter-spacing: 1px;
			}
		}
	}

	.links {
		a {
			display: inline-block;
			margin: 2px 7px;
			padding: 5px;
			font-size: 18px;
			color: $headerlink;

			&:hover {
				color: lighten($headerlink, 15%);
			}
		}
	}
}

.container {
	max-width: 1280px;
	margin: auto;
	flex: 1;
	background-color: rgba(0,0,0,0.8);
	padding: 20px;
}

footer {
	border-top: 1px dashed $header;
}


/// Pagination \\\

.pagination {
	text-align: center;

	&:before {
		font-size: 14pt;
		vertical-align: middle;
		content: "Pages:";
		margin-right: 10px;
	}

	font-size: 20pt;

	.page-item {
		margin: 5px 20px;
	}
}


/// About page funsies \\\

.scrollable-x {
	display: inline-block;
	overflow-x: auto;
	max-width: 1000px;
	width: 90vw;
}

.hexeditor {
	width: auto;
	border-collapse: collapse;
	border: 1px dashed $header;
	padding: 10px;

	.legend {
		border: 0;
	}

	.offset {
		user-select: none;
		border-bottom: 0;
		border-right: 1px dashed $header;
	}
}

.ozxa, .cute-ralsei, .quote {
	image-rendering: crisp-edges;
	float: right;
}
.ozxa			{ margin-left: 30px; }
.cute-ralsei	{ margin-top: 1em; }


/// Projs \\\

.projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 15px 5px;
}

.project {
	position: relative;

	border: 1px dashed $header;
	border-radius: 5px;
	padding: 0;
	line-height: 0;

	img {
		width: 410px;
		margin: 0;
		border-radius: 5px;
		display: inline-block;
		padding: 0;
	}

	.title, .subtitle {
		background-color: rgba(0, 0, 0, 0.9);
		color: #ffffff;
		display: inline-block;
		position: absolute;
		left: 0;

		line-height: 1.5;
		padding: 0px 20px;
	}

	.title {
		top: 125px;
		font-size: 24pt;
		font-weight: bold;
	}

	.subtitle {
		top: 173px;
	}

	&:hover, &:active {
		filter: brightness(1.1);
	}

	&:active {
		filter: brightness(0.9);
	}
}

.proj-showcase {
	float: right;
	width: 480px;
	max-width: 100%;

	border: 1px dashed $header;
	margin-left: 10px;
	margin-bottom: 10px;
}
