@use "_vars" as *;

// Codeblocks
pre {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	font-size: 1rem;
	padding: 10px;
	color: $header;
	border-radius: 4px;
	word-wrap: normal;
	overflow: auto;
	overflow-y: hidden;
	tab-size: 4;
}

pre, .mono, code {
	font-family: "Fira Mono", "Roboto Mono", "Terminal", monospace;
}

// Inline preformatted text
code.highlighter-rouge {
	background: rgba(0,0,0,0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0px 3px;
	margin: 0px -3px;
	color: $body-foreground;
}

// Modified version of rouge's monokai theme
@media screen {
	pre.highlight {
		color: #ffffff;
		background-color: #0d1011;

		.gh, .go, .gp, .gu {
			color: #aaa;
		}
		.sr, .nb {
			color: #fd971f;
		}
		.cm, .cp, .c1, .cs, .c, .ch, .cd, .cpf {
			color: #8b9eaf;
		}
		.err, .gr, .gt {
			color: #f03c80;
		}
		.gd, .gi, .ge {
			color: #49483e;
		}
		.kc, .kd, .kr, .no, .kt {
			color: #51c6dd;
		}
		.mf, .mh, .il, .mi, .mo, .m, .mb, .mx, .sc, .se, .ss {
			color: #ae81ff;
		}
		.sd, .s2, .sb, .sh, .si, .sx, .s1, .s, .sa, .dl {
			color: #e6db74;
		}
		.na, .nc, .nd, .ne, .nf, .fm {
			color: #a6e22e;
		}
		.ow, .nt, .k, .kv, .kn, .kp, .o {
			color: #f53b7f;
		}
	}
}
