@use "_vars" as *;

.header-index {
	display: flex;
	justify-content: space-between;
	min-width: 330px;
}

.link-icons {
	text-align: right;

	a {
		display: inline-block;
		margin: 0 10px;
		vertical-align: text-top;

		&:hover {
			transform: scale(1.1, 1.1);
		}
	}

	img {
		width: 32px;
		height: 32px;
	}
}

.postentry {
	margin: 20px 0;
	padding: 10px;
	border-bottom: 1px dashed $header;
}

.pagination {
	text-align: center;
	font-size: 1.4em;

	.page-item {
		margin: 5px 5px;
		display: inline-block;
		background-color: #2e2e2e;
		color: white;
		padding: 0 14px;

		&.current-page {
			background-color: #2c4d28;
		}
	}

	a.page-item:hover {
		background-color: #212121;
		text-decoration: none;
	}
}
