@use "_vars" as *;

header, footer {
	text-align: center;
	background: rgba(10, 10, 10, 0.96);
}

header {
	border-bottom: 1px dashed $header;
	padding: 7px 20px 10px;

	.title {
		font-size: 36px;
		font-weight: bold;

		a {
			color: $header;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.links a {
		display: inline-block;
		margin: 2px 7px;
		padding: 5px;
		font-size: 18px;
		color: $headerlink;

		&:hover {
			color: #d3d3d3;
		}
	}
}

.content {
	flex: 1;
}

.container {
	max-width: 1240px;
	margin: auto;
	background-color: rgba(10, 10, 10, 0.98);
	padding: 20px;
	box-sizing: content-box;
}

@media screen and (max-width: 800px) {
	.container {
		padding: 20px 10px;
	}
}

footer {
	border-top: 1px dashed $header;

	p {
		line-height: 1.5;
	}
}

/*header, .container, footer {
	backdrop-filter: blur(3px);
}*/
