@use "_vars" as *;

.warning { color: red; }
.warning, time { font-weight: bold; }

.box {
	border: 1px dashed $header;
	padding: 0 10px;
	margin: 1.5em 0;

	h3 {
		margin-top: 5px;
		margin-bottom: -5px;
	}
}

.mono { font-family: monospace; }
.center { text-align: center; }
.right { text-align: right; }

.pixelated { image-rendering: pixelated; }

.side-img {
	float: right;
	margin: 0px 10px;
}

.sponsors-button {
	display: inline-block;
	background-color: #191919;
	border: 1px solid #343434;
	border-radius: 5px;
	padding: 5px 30px;
	color: white;
	margin: 15px 0;

	&:hover {
		background-color: #202020;
		text-decoration: none;
	}

	.label {
		vertical-align: top;
		margin-left: 5px;
		font-family: sans-serif;
	}
}
