@media print {
	body {
		font-family: serif;
		font-size: unset;
		background: unset;
		color: unset;
	}

	.container {
		background: unset;
	}

	h1,h2,h3,h4,h5,h6 {
		color: unset;
		font-weight: 700;
	}

	p {
		line-height: 1.6;
	}

	a {
		color: #01004b !important;
		text-decoration: underline;
	}

	.banner, header, footer {
		display: none !important;
	}

	pre.highlight {
		background: rgba(0,0,0,0);
		color: black !important;
	}
}
