{%- assign cachebuster = site.time | date:'?v=%s' -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="/assets/style.css{{ cachebuster }}">
	<link rel="alternate" href="/atom.xml" type="application/atom+xml" title="Blog posts">
	<link rel="sitemap" href="/sitemap.xml" type="application/xml" title="Sitemap">

	{% seo title=false %}
	<meta name="fediverse:creator" content="@ROllerozxa@hachyderm.io">

	<meta name="theme-color" content="#1cdc9a">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
	<link rel="manifest" href="/assets/site.webmanifest">
</head>
<body>
	<header>
		<div class="title"><a href="/">{{ site.title }}</a></div>
		<div class="links">
			{%- for link in site.data.headerlinks -%}
				<a href="{{ link.url }}">{{ link.title }}</a>
			{%- endfor -%}
		</div>
	</header>

	<div class="content"><div class="container">
		{%- if page.ozxa_at_the_top -%}
			<img src="/assets/ozxa_new_osc.webp" class="ozxa" alt="ozxa" title="Ozxa">
		{%- endif -%}
		{%- if page.fileozxa_at_the_top -%}
			<img src="/assets/files.webp" class="ozxa" alt="ozxa" title="Ozxa">
		{%- endif -%}

		{%- unless page.no_header or layout.no_header -%}
			<h1>{{ page.title }}</h1>
		{%- endunless -%}

		{{ content }}
	</div></div>

	<footer>
		{% include pride.svg %}

		<p>&copy; ROllerozxa - <a href="/contact/">Contact</a></p>
	</footer>
</body>
</html>
