<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	{% seo %}
	
	<link rel="stylesheet" href="/assets/style.css">
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
</head>
<body>
	<div id="wrapper">
		<header>
			<div class="title"><a href="/">{{ site.title }}</a></div>
			<div class="links">
				<span><a href="/posts/">Posts</a></span>
				<span><a href="/about/">About</a></span>
				<span><a href="/donate/">Donate</a></span>
			</div>
		</header>
		
		<div class="container">
			<section id="main_content">
				{{ content }}
			</section>
		</div>
	</div>

	{%- if paginator.total_pages > 1 -%}
	<div class="pagination">
		{%- for page in (1..paginator.total_pages) -%}
			{%- if page == paginator.page -%}
				<span class="page-item">{{ page }}</span>
			{%- elsif page == 1 -%}
				<a href="/" class="page-item">{{ page }}</a>
			{%- else -%}
				<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-item">{{ page }}</a>
			{%- endif -%}
		{%- endfor %}
	</div>
	{%- endif -%}

	<footer>
		&copy; 2022 ROllerozxa - <a href="/userstyles/">Customise with userstyles</a> - Have a wonderful day &lt;3
	</footer>
	
	{% comment %}Thing for mastodon verification{% endcomment %}
	<a rel="me" style="display:none" href="https://fosstodon.org/@ROllerozxa">M</a>
</body>
</html>
