<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	{% seo %}

	<link rel="stylesheet" href="/assets/style.css">
	<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
</head>
<body>
	<header>
		<div class="title"><a href="/">{{ site.title }}</a></div>
		<div class="links">
			{%- for link in site.data.headerlinks -%}
				<a href="{{ link.url }}">{{ link.title }}</a>
			{%- endfor -%}
		</div>
	</header>

	<div class="container">
		{{ content }}
	</div>

	<footer>
		<svg style="float:right;width:65px;" version="1.1" viewBox="0 0 149 150"><g transform="rotate(90,74.5,75)" fill="none" fill-rule="evenodd"><g transform="translate(-1,-75)"><g id="Group" transform="rotate(-45 91.71 37.927)"><polygon points="36.709 35.355 1 35.412 1.3536 4.2633e-14" fill="#e40303"/><polygon points="36.707 35.355 72.06 70.711 1 70.822 1 35.412" fill="#ff8c00"/><polygon points="72.064 70.711 106.71 105.36 1 106.24 1 70.825" fill="#ffed00"/><polygon points="106.71 105.36 69.943 142.13 1 141.65 1 106.24" fill="#008026"/><polygon points="70.65 141.42 34.588 177.48 1 177.06 1 141.65" fill="#004dff"/><polygon points="35.295 176.78 0.64645 211.42 1 177.06" fill="#750787"/></g></g></g></svg>

		<p>&copy; 2021-2023 ROllerozxa - Have a wonderful day &lt;3</p>
	</footer>

	{% comment %}Thing for mastodon verification{% endcomment %}
	<a rel="me" style="display:none" href="https://fosstodon.org/@ROllerozxa">M</a>
</body>
</html>
