---
layout: default
no_header: true
---

{% unless page.no_cover %}
	{% include post_image.html name=page.slug alt=page.cover_alt %}
{% endunless %}

<h1>{{ page.title }}</h1>

{% if page.subtitle %}
	<h3>{{ page.subtitle }}</h3>
{% endif %}

{% include blogmeta.html post=page clickable_time=true %}

{% if page.quite_old %}
<div class="box">
	<h3>Heads up!</h3>
	<p>This blog post is quite old, several years old if you were to look at the date of which it was published. Things have likely changed since the blog post was originally written, but is still available for historical purposes.</p>
</div>
{% endif %}

{% if page.no_cover == nil and page.cover_alt == nil %}<p class="warning">Post does not have a cover alt!</p>{% endif %}

{{ content }}

<hr style="margin-top:100px">

<h2>Donations</h2>

<p>
	Did you find the blog post to be informative, amusing or otherwise interesting?
	All blog posts are written by a human who would appreciate a <a href="/donate/#donations">donation</a>
	if you got some value out of this piece of writing.
</p>
